* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #4a4a4a;
  background-color: #fafbfc;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.15em;
  line-height: 1.75em;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

#site {
  width: 100%;
  max-width: 990px;
  margin: 20px auto;
}

#sidebar {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 202px;
  border-right: 1px solid #e7e7e7;
  padding: 20px 10px;
}

#content {
  margin: 0 0 0 202px;
}

#home {
  margin: 10px;
}

#home video {
  width: 100%;
  height: 56.25%
}

#logo {
  width: 150px;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 600;
  margin-top: 0.5em;
  display: block;
}

.posts {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
}

.date {
  display: inline-block;
  padding-top: 0.25em;
  margin-bottom: 1ex;
  font-weight: 600;
  color: #787878;
}

.cover-photo-container {
  text-align: center;
}

img.cover-photo {
  max-width: 100%
}

.info-container {
  margin-top: 3em;
}

.title {
  color: #4a4a4a;
  margin-bottom: 0.2em;
  font-size: 1.4em;
}

.post h2 {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: .6em;
}

.post a,
#about a {
  border-bottom: 1px solid #8085C1;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul p {
  margin-bottom: .1em;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

#sidebar ul {
  padding: 2em 0 1em 1em;
}

#sidebar ul li {
  padding-top: .5ex;
}

#sidebar li a {
  display: block;
}

#header {
  text-align: center;
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

.post-date {
  color: #8a8a8a;
  font-family: Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  text-transform: uppercase;
}

.pagination > * {
  display: inline-block;
  padding: .2ex .4ex;
}
