*
!.busted
!.commitlintrc.yml
!.dependabot/config.yml
!.dockerignore
!.editorconfig
!.gitattributes
!.github/FUNDING.yml
!.github/workflows/commitlint.yml
!.github/workflows/luacheck.yml
!.gitignore
!.gitmodules
!.luacheckrc
!.travis.yml
!.travis/fold_unless_fail
!.travis/setup_harfbuzz.sh
!.travis/setup_lua.sh
!CHANGELOG.md
!CMakeLists.txt
!Dockerfile
!LICENSE
!Makefile-fonts
!Makefile.am
!README.md
!azure-pipelines.yml
!bootstrap.sh
!build-aux/docker-entrypoint.sh
!build-aux/docker-yay-runner.sh
!build-aux/git-version-gen
!classes/bible.lua
!classes/book.lua
!classes/diglot.lua
!classes/docbook.lua
!classes/docbook.sil
!classes/jbook.lua
!classes/jplain.lua
!classes/letter.lua
!classes/markdown.lua
!classes/pecha.lua
!classes/plain.lua
!classes/triglot.lua
!cmake/fontconfig.diff
!cmake/fonts_conf.cmake
!cmake/icu.diff
!cmake/lua.diff
!cmake/srlua.diff
!configure.ac
!core/base-shaper.lua
!core/baseclass.lua
!core/break.lua
!core/cairo-output.lua
!core/colorparser.lua
!core/debug-output.lua
!core/dummy-output.lua
!core/font.lua
!core/fontmanager.lua
!core/frame.lua
!core/frameparser.lua
!core/harfbuzz-shaper.lua
!core/hyphenator-liang.lua
!core/inputs-common.lua
!core/inputs-texlike.lua
!core/inputs-xml.lua
!core/languages.lua
!core/length.lua
!core/libtexpdf-output.lua
!core/makedeps.lua
!core/measurement.lua
!core/nodefactory.lua
!core/opentype-parser.lua
!core/packagemanager.lua
!core/pagebuilder.lua
!core/pango-shaper.lua
!core/papersize.lua
!core/parserbits.lua
!core/podofo-output.lua
!core/settings.lua
!core/sile.lua
!core/text-output.lua
!core/tracestack.lua
!core/typesetter.lua
!core/units.lua
!core/utilities.lua
!documentation/Silson-Condensed.otf
!documentation/developers.sil
!documentation/discovery.png
!documentation/fig1.png
!documentation/grid-1.png
!documentation/grid-2.png
!documentation/gutenberg.png
!documentation/macros.xml
!documentation/sile-logo.pdf
!documentation/sile.sil
!examples/bible/osis/SBLGNT.osis.xml
!examples/bible/osis/osis.xml
!examples/bible/osis/sblgnt.pdf
!examples/bible/osis/sblgnt.sil
!examples/bible/usx/001GEN.pdf
!examples/bible/usx/001GEN.usx
!examples/bible/usx/049EPH.pdf
!examples/bible/usx/049EPH.usx
!examples/bible/usx/classes/usx.lua
!examples/bible/usx/eng-web_usfx/BookNames.xml
!examples/bible/usx/eng-web_usfx/copr.htm
!examples/bible/usx/eng-web_usfx/eng-web-VernacularAdditional.xml
!examples/bible/usx/eng-web_usfx/eng-web-VernacularParms.xml
!examples/bible/usx/eng-web_usfx/eng-webMetaData.xml
!examples/bible/usx/eng-web_usfx/eng-web_usfx.xml
!examples/bible/usx/eng-web_usfx/gentium.css
!examples/bible/usx/eng-web_usfx/keys.asc
!examples/bible/usx/eng-web_usfx/metadataWbt-1.3.rnc
!examples/bible/usx/eng-web_usfx/signature.txt.asc
!examples/bible/usx/usx.sil
!examples/byhand.lua
!examples/docbook/article-template.pdf
!examples/docbook/article-template.png
!examples/docbook/article-template.xml
!examples/docbook/images/emacs.png
!examples/docbook/images/oxygen4.png
!examples/docbook/images/oxygen5.png
!examples/docbook/images/sile-logo.jpg
!examples/docbook/images/xxe.png
!examples/docbook/simpletable.sil
!examples/global-scripts/arabic.pdf
!examples/global-scripts/arabic.png
!examples/global-scripts/arabic.sil
!examples/global-scripts/armenian.pdf
!examples/global-scripts/armenian.png
!examples/global-scripts/armenian.sil
!examples/global-scripts/boustrophedon.pdf
!examples/global-scripts/boustrophedon.png
!examples/global-scripts/boustrophedon.sil
!examples/global-scripts/burmese.pdf
!examples/global-scripts/burmese.png
!examples/global-scripts/burmese.sil
!examples/global-scripts/heart-sutra.pdf
!examples/global-scripts/heart-sutra.png
!examples/global-scripts/heart-sutra.sil
!examples/global-scripts/i18n.pdf
!examples/global-scripts/i18n.png
!examples/global-scripts/i18n.sil
!examples/global-scripts/japanese.pdf
!examples/global-scripts/japanese.png
!examples/global-scripts/japanese.sil
!examples/global-scripts/javanese.pdf
!examples/global-scripts/javanese.png
!examples/global-scripts/javanese.sil
!examples/global-scripts/mongolian.pdf
!examples/global-scripts/mongolian.png
!examples/global-scripts/mongolian.sil
!examples/global-scripts/serbian.pdf
!examples/global-scripts/serbian.png
!examples/global-scripts/serbian.sil
!examples/global-scripts/thai-udhr.pdf
!examples/global-scripts/thai-udhr.png
!examples/global-scripts/thai-udhr.sil
!examples/global-scripts/thai.xml
!examples/global-scripts/triglot.pdf
!examples/global-scripts/triglot.png
!examples/global-scripts/triglot.sil
!examples/global-scripts/uyghur.pdf
!examples/global-scripts/uyghur.png
!examples/global-scripts/uyghur.sil
!examples/greek-lexicon/classes/perseus.lua
!examples/greek-lexicon/lexicon.pdf
!examples/greek-lexicon/lexicon.xml
!examples/greek-lexicon/perseus.sil
!examples/packages/bibtex.pdf
!examples/packages/bibtex.png
!examples/packages/bibtex.sil
!examples/packages/chordmode.pdf
!examples/packages/chordmode.png
!examples/packages/chordmode.sil
!examples/packages/conv-test.lua
!examples/packages/conv-test.txt
!examples/packages/converters.pdf
!examples/packages/converters.png
!examples/packages/converters.sil
!examples/packages/frametricks.pdf
!examples/packages/frametricks.png
!examples/packages/frametricks.sil
!examples/packages/gutenberg.pdf
!examples/packages/gutenberg.png
!examples/packages/gutenberg.sil
!examples/packages/hyperlink.pdf
!examples/packages/hyperlink.png
!examples/packages/hyperlink.sil
!examples/packages/inputfilter.pdf
!examples/packages/inputfilter.png
!examples/packages/inputfilter.sil
!examples/packages/ligature.pdf
!examples/packages/ligature.png
!examples/packages/ligature.sil
!examples/packages/parallel.pdf
!examples/packages/parallel.png
!examples/packages/parallel.sil
!examples/packages/pullquote.pdf
!examples/packages/pullquote.png
!examples/packages/pullquote.sil
!examples/packages/rotate.pdf
!examples/packages/rotate.png
!examples/packages/rotate.sil
!examples/packages/rule.pdf
!examples/packages/rule.png
!examples/packages/rule.sil
!examples/packages/sample.bib
!examples/packages/smiley.svg
!examples/showoff.sil
!examples/simple.pdf
!examples/simple.png
!examples/simple.sil
!examples/test.pdf
!examples/test.png
!examples/test.sil
!fontconfig.conf
!languages/af.lua
!languages/am.lua
!languages/ar.lua
!languages/as.lua
!languages/bg.lua
!languages/bn.lua
!languages/ca.lua
!languages/cs.lua
!languages/cy.lua
!languages/da.lua
!languages/de.lua
!languages/el-monoton.lua
!languages/el-polyton.lua
!languages/el.lua
!languages/en.lua
!languages/eo.lua
!languages/es.lua
!languages/et.lua
!languages/eu.lua
!languages/fi.lua
!languages/fr.lua
!languages/ga.lua
!languages/gu.lua
!languages/hi.lua
!languages/hr.lua
!languages/hu.lua
!languages/id.lua
!languages/is.lua
!languages/it.lua
!languages/ja.lua
!languages/jv.lua
!languages/ka.lua
!languages/kn.lua
!languages/la.lua
!languages/lt.lua
!languages/lv.lua
!languages/ml.lua
!languages/mr.lua
!languages/my.lua
!languages/nl.lua
!languages/no.lua
!languages/or.lua
!languages/pa.lua
!languages/pl.lua
!languages/pt.lua
!languages/rm.lua
!languages/ro.lua
!languages/ru.lua
!languages/sa.lua
!languages/sk.lua
!languages/sl.lua
!languages/sr.lua
!languages/sv.lua
!languages/ta.lua
!languages/th.lua
!languages/tk.lua
!languages/tr.lua
!languages/ug.lua
!languages/uk.lua
!languages/und.lua
!languages/unicode.lua
!libtexpdf
!lua-libraries/LICENSE-lunamark
!lua-libraries/char-def.lua
!lua-libraries/imagesize.lua
!lua-libraries/imagesize/format/bmp.lua
!lua-libraries/imagesize/format/gif.lua
!lua-libraries/imagesize/format/jpeg.lua
!lua-libraries/imagesize/format/mng.lua
!lua-libraries/imagesize/format/pcd.lua
!lua-libraries/imagesize/format/png.lua
!lua-libraries/imagesize/format/pnm.lua
!lua-libraries/imagesize/format/psd.lua
!lua-libraries/imagesize/format/swf.lua
!lua-libraries/imagesize/format/tiff.lua
!lua-libraries/imagesize/format/xbm.lua
!lua-libraries/imagesize/format/xcf.lua
!lua-libraries/imagesize/format/xpm.lua
!lua-libraries/imagesize/util.lua
!lua-libraries/lomwithpos.lua
!lua-libraries/lunamark.lua
!lua-libraries/lunamark/entities.lua
!lua-libraries/lunamark/reader.lua
!lua-libraries/lunamark/reader/markdown.lua
!lua-libraries/lunamark/util.lua
!lua-libraries/lunamark/writer.lua
!lua-libraries/lunamark/writer/ast.lua
!lua-libraries/lunamark/writer/context.lua
!lua-libraries/lunamark/writer/docbook.lua
!lua-libraries/lunamark/writer/dzslides.lua
!lua-libraries/lunamark/writer/generic.lua
!lua-libraries/lunamark/writer/groff.lua
!lua-libraries/lunamark/writer/html.lua
!lua-libraries/lunamark/writer/html5.lua
!lua-libraries/lunamark/writer/latex.lua
!lua-libraries/lunamark/writer/man.lua
!lua-libraries/lunamark/writer/tex.lua
!lua-libraries/lunamark/writer/xml.lua
!m4/adl_recursive_eval.m4
!m4/ax_lua.m4
!package-lock.json
!package.json
!packages/autodoc.lua
!packages/background.lua
!packages/balanced-frames.lua
!packages/bibliography.lua
!packages/bibstyles/chicago.lua
!packages/bibtex.lua
!packages/bidi.lua
!packages/boustrophedon.lua
!packages/break-firstfit.lua
!packages/chapterverse.lua
!packages/chordmode.lua
!packages/color-fonts.lua
!packages/color.lua
!packages/converters.lua
!packages/counters.lua
!packages/cropmarks.lua
!packages/date.lua
!packages/debug.lua
!packages/features.lua
!packages/folio.lua
!packages/font-fallback.lua
!packages/footnotes.lua
!packages/frametricks.lua
!packages/grid.lua
!packages/gutenberg.lua
!packages/hanmenkyoshi.lua
!packages/ifattop.lua
!packages/image.lua
!packages/indexer.lua
!packages/infonode.lua
!packages/inputfilter.lua
!packages/insertions.lua
!packages/leaders.lua
!packages/linespacing.lua
!packages/lorem.lua
!packages/masters.lua
!packages/pagebuilder-bestfit.lua
!packages/pandoc.lua
!packages/parallel.lua
!packages/pdf.lua
!packages/pdfstructure.lua
!packages/pullquote.lua
!packages/raiselower.lua
!packages/rebox.lua
!packages/rotate.lua
!packages/ruby.lua
!packages/rules.lua
!packages/simpletable.lua
!packages/specimen.lua
!packages/svg.lua
!packages/tableofcontents.lua
!packages/tate.lua
!packages/textcase.lua
!packages/twoside.lua
!packages/unichar.lua
!packages/url.lua
!packages/verbatim.lua
!packages/xmltricks.lua
!sile-dev-1.rockspec
!sile.1.in
!sile.in
!spec/break_spec.lua
!spec/complex_frame_spec.lua
!spec/frame_spec.lua
!spec/frameparser_spec.lua
!spec/measurements_spec.lua
!spec/nodefactory_spec.lua
!src/Makefile.am
!src/fontmetrics.c
!src/imagebbox.c
!src/justenoughfontconfig.c
!src/justenoughharfbuzz.c
!src/justenoughicu.c
!src/justenoughlibtexpdf.c
!src/macfonts.m
!src/nanosvg.h
!src/podofo_wrap.cxx
!src/silewin32.h
!src/svg.c
!tests/049EPH.expected
!tests/049EPH.xml
!tests/TestCLR-Regular.ttf
!tests/absmin.expected
!tests/absmin.xml
!tests/alignment.expected
!tests/alignment.sil
!tests/amharic.expected
!tests/amharic.sil
!tests/arabic-scripts.expected
!tests/arabic-scripts.sil
!tests/balanced.expected
!tests/balanced.sil
!tests/bidi.sil
!tests/bug-117.expected
!tests/bug-117.sil
!tests/bug-132.expected
!tests/bug-132.sil
!tests/bug-162.expected
!tests/bug-162.sil
!tests/bug-182.expected
!tests/bug-182.sil
!tests/bug-192.expected
!tests/bug-192.sil
!tests/bug-200.expected
!tests/bug-200.sil
!tests/bug-210.expected
!tests/bug-210.sil
!tests/bug-214.expected
!tests/bug-214.sil
!tests/bug-226.expected
!tests/bug-226.sil
!tests/bug-241.expected
!tests/bug-241.sil
!tests/bug-243.expected
!tests/bug-243.sil
!tests/bug-244.expected
!tests/bug-244.sil
!tests/bug-248.sil
!tests/bug-252.expected
!tests/bug-252.sil
!tests/bug-252a.expected
!tests/bug-252a.sil
!tests/bug-254.expected
!tests/bug-254.sil
!tests/bug-255.expected
!tests/bug-255.sil
!tests/bug-255b.expected
!tests/bug-255b.sil
!tests/bug-262.expected
!tests/bug-262.sil
!tests/bug-264.expected
!tests/bug-264.sil
!tests/bug-264b.expected
!tests/bug-264b.sil
!tests/bug-266.expected
!tests/bug-266.sil
!tests/bug-269.expected
!tests/bug-269.sil
!tests/bug-283.expected
!tests/bug-283.sil
!tests/bug-284.expected
!tests/bug-284.sil
!tests/bug-301.expected
!tests/bug-301.sil
!tests/bug-303.sil
!tests/bug-303b.sil
!tests/bug-307.expected
!tests/bug-307.sil
!tests/bug-308.expected
!tests/bug-308.sil
!tests/bug-309.expected
!tests/bug-309.sil
!tests/bug-317.expected
!tests/bug-317.sil
!tests/bug-337.expected
!tests/bug-337.lua
!tests/bug-337.sil
!tests/bug-342.sil
!tests/bug-344.expected
!tests/bug-344.sil
!tests/bug-353.expected
!tests/bug-353.sil
!tests/bug-383.sil
!tests/bug-39.expected
!tests/bug-39.sil
!tests/bug-420.sil
!tests/bug-465-a.expected
!tests/bug-465-a.sil
!tests/bug-465-b.sil
!tests/bug-522.expected
!tests/bug-522.sil
!tests/bug-524.expected
!tests/bug-524.sil
!tests/bug-525.expected
!tests/bug-525.sil
!tests/bug-526.expected
!tests/bug-526.sil
!tests/bug-530.expected
!tests/bug-530.sil
!tests/bug-54.expected
!tests/bug-54.sil
!tests/bug-556.sil
!tests/bug-556b.sil
!tests/bug-61.expected
!tests/bug-61.sil
!tests/bug-62.expected
!tests/bug-62.sil
!tests/bug-621.expected
!tests/bug-621.sil
!tests/bug-702.expected
!tests/bug-702.sil
!tests/bug-76.expected
!tests/bug-76.sil
!tests/bug-79.expected
!tests/bug-79.sil
!tests/bug-80.expected
!tests/bug-80.sil
!tests/centering.expected
!tests/centering.sil
!tests/chapterverse.expected
!tests/chapterverse.sil
!tests/classes/testsidenote.lua
!tests/classes/testtwocol.lua
!tests/color-fonts.expected
!tests/color-fonts.sil
!tests/combining.expected
!tests/combining.sil
!tests/counters.expected
!tests/counters.sil
!tests/crash.expected
!tests/crash.sil
!tests/disappearing-skip.expected
!tests/disappearing-skip.sil
!tests/eject.expected
!tests/eject.sil
!tests/font-fallback-empty.expected
!tests/font-fallback-empty.sil
!tests/footnote-skip.expected
!tests/footnote-skip.sil
!tests/footnote.expected
!tests/footnote.sil
!tests/footnotes-twocols.expected
!tests/footnotes-twocols.sil
!tests/frametricks.expected
!tests/frametricks.sil
!tests/grid.expected
!tests/grid.sil
!tests/hyph-except.expected
!tests/hyph-except.sil
!tests/ifattop.sil
!tests/image.expected
!tests/image.sil
!tests/inline-lua.expected
!tests/inline-lua.sil
!tests/insertions-sidenotes.sil
!tests/italic.expected
!tests/italic.sil
!tests/jbook.expected
!tests/jbook.sil
!tests/kannada.expected
!tests/kannada.sil
!tests/letter.sil
!tests/letterspacing.expected
!tests/letterspacing.sil
!tests/lig-hyphens.sil
!tests/linespacing.expected
!tests/linespacing.sil
!tests/linespacing2.expected
!tests/linespacing2.sil
!tests/malayalam.sil
!tests/masters.expected
!tests/masters.sil
!tests/mini-arabic.expected
!tests/mini-arabic.sil
!tests/mlcounter.expected
!tests/mlcounter.sil
!tests/nondeterminism.expected
!tests/nondeterminism.sil
!tests/parallel.expected
!tests/parallel.sil
!tests/pdf.sil
!tests/percent-units.expected
!tests/percent-units.sil
!tests/process-commands.expected
!tests/process-commands.sil
!tests/regressions.pl
!tests/rskip.expected
!tests/rskip.sil
!tests/simplesvg.sil
!tests/space-after-command.expected
!tests/space-after-command.sil
!tests/split-footnote.expected
!tests/split-footnote.sil
!tests/sura-2.expected
!tests/sura-2.sil
!tests/vertical.expected
!tests/vertical.sil
