root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[{*.lua,*.lua.in,sile.in,*rockspec,.busted,.luacheckrc}]
indent_style = space
indent_size = 3
max_line_length = 120

# StyLua keys
collapse_simple_statement = never
space_after_functions = definitions

# EmmyLuaCodeStyle keys
continuation_indent = 6
quote_style = double,
call_arg_parentheses = keep,
trailing_table_separator = always,
align_call_args = true,
end_statement_with_semicolon = same_line

[*.pl]
indent_style = space
indent_size = 4

[makefile*]
indent_style = tab
indent_size = 4
