root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[{Makefile*,*.mk,*.mk.in}]
indent_style = tab
indent_size = 4

[*.m4]
indent_style = space
indent_size = 8

[*.md]
trim_trailing_whitespace = false

[{*.lua,*.lua.in,sile.in,*.rockspec,*.rockspec.in,.busted,.luacov,.luacheckrc,config.ld}]
indent_style = space
indent_size = 3
max_line_length = 120

# StyLua keys
collapse_simple_statement = never
space_after_function_names = definitions

# EmmyLuaCodeStyle keys
continuation_indent = 6
quote_style = double,
call_arg_parentheses = keep,
trailing_table_separator = always,
align_call_args = true,
end_statement_with_semicolon = same_line

[{*.rockspec,*.rockspec.in}]
max_line_length = 190

[*.pl]
indent_style = space
indent_size = 2

[*.rs]
indent_size = 4
