# http://www.gnu.org/software/automake

Makefile
Makefile.in

# http://www.gnu.org/software/autoconf

/aclocal.m4
/autom4te.cache
/config.status
/configure
/aminclude.am
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/libtool.m4
build-aux/ltoptions.m4
build-aux/ltsugar.m4
build-aux/ltversion.m4
build-aux/lt~obsolete.m4
build-aux/missing
build-aux/import-tex-hyphens.sh
build-aux/list-distfiles.sh
build-aux/transpile-tex-hyphen-patterns.lua
tests/regressions.pl

# Other autojunk
.deps
.libs
*.lo
*.la
src/*.o
AUTHORS
COPYING
INSTALL
ChangeLog
NEWS
README
THANKS
libtool
ltmain.sh
subfiles.mk

# Build artifacts
confdefs.h
config.log
build/
*.debug
gh-pages
sile-[0-9\.]*
sile-vendored-crates-[0-9\.]*
*.rockslock
.dockerignore
luacov.*.out

# Test artifacts
tests/*.actual
tests/*.pdf
*.toc
time*.json

benchmark-*
compare-*

# Vendor stuff
node_modules
vendor
lua_modules
lua_modules_dist
package-lock.json
vendor

# Editor entrails
.vscode/
*~
tags

# Generated resources
Makefile-distfiles
documentation/*.pdf
documentation/fig-input-to-output.pdf.gs
gource.webm
*.rockspec
.fonts/*
.sources/*
sile-x86_64
sile
sile.1
sile-lua
sile-lua.1
.version
.version-prev
.tarball-version
.flake-version
.built-subdirs
*.so
*.o
completions/
core/features.lua
core/pathsetup.lua
core/version.lua
src/embed-includes.rs
src/embed.rs
src/sile-entry.sh
target/
*.asc

# Nix symlink to builds
result
result-man
result-doc
result-dev
