*/*.actual
tests/*.pdf
examples/*.pdf
*/*.toc
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.guess
/config.sub
/config.status

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Other autojunk
.deps
.libs
*.lo
*.la
src/*.o
AUTHORS
COPYING
INSTALL
ChangeLog
Makefile
NEWS
README
THANKS

libtool
ltmain.sh
subfiles.mk

sile
confdefs.h
config.log
core/*.so
build/ 
.vscode/ 
