# http://www.gnu.org/software/automake

Makefile
Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.guess
/config.sub
/config.status
/.version
/.version-prev
/.built-subdirs

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Other autojunk
.deps
.libs
*.lo
*.la
src/*.o
AUTHORS
COPYING
INSTALL
ChangeLog
NEWS
README
THANKS
libtool
ltmain.sh
subfiles.mk

# Build artifacts
confdefs.h
config.log
core/*.so
build/
*.debug
gh-pages
sile-[0-9\.]*
*.rockslock
.dockerignore
luacov.*.out

# Test artifacts
tests/*.actual
tests/*.pdf
*.toc
time*.json

benchmark-*
compare-*

# Vendor stuff
node_modules
lua_modules
lua_modules_dist
package-lock.json

# Editor entrails
.vscode/
tags

# Generated resources
Makefile-distfiles
documentation/*.pdf
examples/**/*.pdf
gource.webm
.fonts/*
.sources/*
#sile# Work around bug in standard-version by not ignoring this artifact
sile.1
