name: Commitlint

on: [ push, pull_request ]

jobs:

  commitlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run ‘commitlint’ linter
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: '.commitlintrc.yml'
