name: Deploy

on:
  push:
    tags: [ 'v*' ]

jobs:

  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Publish to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ github.token }}
          registry: docker.pkg.github.com
          repository: sile-typesetter/sile/sile
          tag_with_ref: true
