name: Test

on: [ push, pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test:
    strategy:
      fail-fast: false
      matrix:
        luaVersion:
          - '5.4'
          - '5.3'
          - '5.2'
          - '5.1'
          - 'luajit'
          - 'luajit-openresty'
    runs-on: ubuntu-22.04
    name: Test on Lua ${{ matrix.luaVersion }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Cache test fonts
        uses: actions/cache@v3
        with:
          path: |
            .fonts
            .sources
          key: fonts-${{ hashFiles('Makefile-fonts') }}
      - name: Cache lua_modules
        uses: actions/cache@v3
        with:
          path: |
            lua_modules
          key: luarocks-${{ matrix.luaVersion }}-${{ hashFiles('Makefile-luarocks', 'sile.rockspec.in') }}
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install fonts-sil-gentiumplus libarchive-tools libfontconfig1-dev libharfbuzz-dev libicu-dev libpng-dev poppler-utils
      - name: Setup ‘lua’
        uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: ${{ matrix.luaVersion }}
      - name: Setup ‘luarocks’
        uses: leafo/gh-actions-luarocks@v4
      - name: Prep system Lua for use
        run: |
          luarocks install busted
          function deepest () { find $1 -type d | awk 'length>m{m=length;r=$0}END{print r}'; }
          cat << EOF >> $GITHUB_ENV
          LD_LIBRARY_PATH=$PWD/.lua/lib:$LD_LIBRARY_PATH
          LIBRARY_PATH=$PWD/.lua/lib:$LIBRARY_PATH
          LD_RUN_PATH=$PWD/.lua/lib:$LD_RUN_PATH
          PKG_CONFIG_PATH=$PWD/.lua/lib/pkgconfig:$PKG_CONFIG_PATH
          LUA_INCLUDE=-I$(deepest $PWD/.lua/include)
          MAKEFLAGS=-j$(nproc) -Otarget
          EOF
      - name: Configure
        run: |
          ./bootstrap.sh
          ./configure \
            --enable-developer LUACHECK=false NIX=false \
            --disable-font-variations \
            --without-system-luarocks \
            --with${{ !startsWith(matrix.luaVersion, 'luajit') && 'out' || '' }}-luajit \
            --without-manual
      - name: Make
        run: |
          make
      - name: Prove SILE runs at all
        run: |
          make selfcheck
      - name: Test Busted
        timeout-minutes: ${{ runner.debug && 20 || 2 }}
        run: |
          make busted
      - name: Test Regressions
        timeout-minutes: ${{ runner.debug && 20 || 2 }}
        run: |
          make regressions
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test-${{ matrix.luaVersion }}-actuals
          path: tests/*.actual
